<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet and Exercise Tracking Application</title>
    <link rel="stylesheet" href="../styles/chatbox_style.css">
</head>

<body>
<div id="message-container"></div>
<form id="send-container">
    <label for="message-input">Message:</label>
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
    <label for="userid-input">User Name:</label>
    <input type="text" id="userid-input">
    <button type="submit" id="userod-button">Select User</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/chatbox_script.js"></script>
</body>
</html>