<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/exercise.css">
    <title>Exercise Logging</title>
</head>

<body>
    <div class="container">
        <h1>Exercise Logger</h1>
        <form id="exercise-form">
            <label for="exercise">Exercise Type:</label>
            <select id="exercise" name="exercise">
                <option value="dropdown">selectone</option>
                <option value="cycling">Cycling</option>
                <option value="running">Running</option>
                <option value="walking">Walking</option>
                <option value="swimming">Swimming</option>
            </select><br>

            <label for="time">Time (minutes):</label>
            <input type="number" id="time" name="time" min="1"><br>

            <button type="button" id="Exercise_cal" ">Calculate Calories</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../scripts/exercise_script.js"></script>
</body>

</html>