<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet and Exercise Tracking Application</title>
    <link rel="stylesheet" href="../styles/loginRegister.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrap" >
        <form id="loginForm" >
            <h1>Login</h1>
            <div class="inp-box">
                <input type="text" placeholder="Username" id="Username2" required>
                <i class='bx bxs-user-circle'></i>
            </div>
            <div class="inp-box">
                <input type="password" placeholder="Password" id="Password2" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="Remember-Details">
                <label><input type="checkbox">Remember Me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <div id="LoginF">
                <button type="submit" class="btn" id="formLogin" >Login</button>
            </div> 
            <div class="register-link">
                <p>Create an Account? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../scripts/login_script.js"></script>
</body>

</html>