<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Options</title>
    <link rel="stylesheet" href="../styles/loginRegister_style.css">
</head>

<body>
    <div class="wrap-options">
        <h1>Select an Option</h1>
        <ul class="options-list">
            <li class="option-item"><a href="/exercise" class="exercise-option">Exercise Logging</a></li>
            <li class="option-item"><a href="/diet"diet-option">Diet Logging</a></li>
            <li class="option-item"><a href="/calorie" class="calorie-option">Calorie Output</a></li>
            <li class="option-item"><a href="/chatbox" class="calorie-option">Chat Box</a></li>
            <li class="option-return"><a href="/register" class="calorie-option">Return to Home page</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/options_script.js"></script>
</body>

</html>