body {
    font-family: sans-serif;
    background-image: url('../images/calories.jpg');
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-color: #004756;
}

h1 {
    color: #C7F4E2;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #C7F4E2;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #C7F4E2;
    color: #004756;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#output {
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}