    body {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        background-image: url('../images/MicrosoftTeams-image.png');
        background-size: cover;

    }

    #message-container {
        width: 80%;
        max-width: 1200px;
    }

    #message-container div {
        background-color: #CCC;
        padding: 5px;
    }

    #message-container div:nth-child(2n) {
        background-color: #FFF;
    }

    #send-container {
        position: fixed;
        padding-bottom: 30px;
        bottom: 0;
        background-color: grey;
        max-width: 1000px;
        width: 50%;
        display: inline-block;
    }

    #message-input, #userid-input {
        flex-grow: 1;
    }

ul {

    text-align: center;
}