body {
    background-image: url('../images/exercise.jpg');
}

.container {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #004756;
}

.header {
    color: #C7F4E2;
    font-size: 50px;
}

.label {
    color: #C7F4E2;
    font-weight: bold;
    font-size: 20px;
}

.select {
    color: #080808;
    font-size: 15px;
    padding: 5px;
    border: 5px solid #ddd;
}

.input {
    color: #101111;
    padding: 5px;
    border: 5px solid #ddd;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.output-text {
    color: hsla(60, 3%, 6%, 0.571);
    font-weight: bold;
    font-size: 25px;
    background-color: #4CAF50;
}

.result {
    border: 1px solid #0aa4cf;
    background-color: #0aa4cf;
}